<div
	class="campaign-deeplink-dynamic-"
	data-component="campaign-deeplink-dynamic"
	data-mf-id="campaign-deeplink-dynamic"
	data-mf-data='{"flowMapping":{"meals-modify":"/bookings/add-on-modification.html","seat-selection-modify":"/bookings/add-on-seat-selection-modification.html","web-check-in":"/check-ins/view.html"},"otpHeading":"OTP Verification","otpSubheading":"Send the OTP to your registered number","resendOtpLabel":"Resend OTP in {minutes}:{seconds}sec","invalidOtpLabel":"You seem to have entered an invalid OTP","resendCtaLabel":"Resend","verifyCtaLabel":"Verify"}'
>
</div>