.skyplus6e-header {
  &__hamburger-login-signup-button {
    &--loggedin {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__button {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: none;
        background: transparent;

        &__initial {
          color: white;
          margin-right: 16px !important;
          border-radius: 50%;
          display: inline-block;
          // background: #027bff;
          padding: 10px 12px 10px 12px;

          font-size: 14px;
          font-weight: 600;
          line-height: 1;
        }

        &__name {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
